<div class="header">
    <div>
    <img class="h_profile" src="../../assets/img/h_profile.svg">
    
        <h1 class="h_name">Manish Kumar
        </h1>
        <button class="h_notification"><img class="h_button" src="../../assets/img/h_btn_notification.svg"></button>
    </div>
    <button class="h_update_btn">Update</button>
</div>
<div class="board-class-btn">
    <button class="board_btn">
        Board:
        <span>CBSE</span>
    </button>
    <button class="class_btn">
        Class:
        <span>7th</span>
    </button>
</div>
