<div class="video-gallery">
    <!--video heading-->
    <div class="video-heading">
        <div class="video_gallery_heading">
            <img src="../../assets/img/video_icon.svg">
            <h5>Video Gallery</h5>
        </div>
        <div class="video_article_heading">
            <img src="../../assets/img/article_icon.svg">
            <h5>New Articles</h5>
        </div>
    </div>
    <!--video box-->
    <div class="video-box">
        <!--video_left-->
        <div class="video-box-left">
            <img src="../../assets/img/box1_video.svg">
            <i class="fa-regular fa-circle-play"></i>
            <!--video title-->
            <div>
                <h5 class="video-box-left-title">Motion Video Of the Solar And Its Planetary Motion</h5>
            </div>
        </div>
        <!--video right-->
        <div class="video-box-right">
            <div class="video-right-boxes">
                <div>
                    <i class="fa-regular fa-circle-play"></i>
                    <img src="../../assets/img/box2_video.svg">
                </div>
                <h5 class="video-box-left-title">Water Pollution and its affect on the globe</h5>
            </div>
            <div class="video-right-boxes">
                <div>
                    <i class="fa-regular fa-circle-play"></i>
                    <img src="../../assets/img/box2_video.svg">
                </div>
                <h5 class="video-box-left-title">Water Pollution and its affect on the globe</h5>
            </div>
            <div class="video-right-boxes">
                <div>
                    <i class="fa-regular fa-circle-play"></i>
                    <img src="../../assets/img/box2_video.svg">
                </div>
                <h5 class="video-box-left-title">Water Pollution and its affect on the globe</h5>
            </div>
        </div>
    </div>
</div>