<div class="side-nav">
    <!--nav-logo-->
    <div class="nav-logo">
        <img class="toggle" src="../../assets/img/toggle.svg">
        <div class="sub-nav-logo">
            <img src="../../assets/img/qafront.mightyme 2.svg">
            <div>
                <h1>Mighty me</h1>
                <hr>
                <p>SELF POWER</p>
            </div>
        </div>
    </div>
    <!--menu -->
    <nav>
        <ul class="menus">
            <li class="menu active"><img src="../../assets/img/menu1.svg"><p><b>Dashboard</b></p></li>
            <li class="menu"><img src="../../assets/img/menu2.svg"><p>MMSP 2022</p></li>
            <li class="menu"><img src="../../assets/img/menu3.svg"><p>Allocated Task</p></li>
            <li class="menu"><img src="../../assets/img/menu4.svg"><p>Mighty Warriors</p></li>
            <li class="menu"><img src="../../assets/img/menu5.svg"><p>Certificate</p></li>
            <li class="menu"><img src="../../assets/img/menu6.svg"><p>Rewards</p></li>
            <li class="menu"><img src="../../assets/img/menu7.svg"><p>Daily Quiz</p></li>
            <li class="menu"><img src="../../assets/img/menu8.svg"><p>Mighty Deeds</p></li>
            <li class="menu"><img src="../../assets/img/menu9.svg"><p>Mighty Innovations</p></li>
            <li class="menu"><img src="../../assets/img/menu10.svg"><p>Mighty Article</p></li>
            <li class="menu"><img src="../../assets/img/menu11.svg"><p>Refer & Earn</p></li>
            <li class="menu"><img src="../../assets/img/menu12.svg"><p>Profile</p></li>
            <li class="menu"><img src="../../assets/img/menu13.svg"><p>Log out</p></li>

        </ul>
    </nav>
</div>

