<div class="giftCardsSection">
    <!--featured-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">FEATURED</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/711e376ae60640d5a80e9f088d6d0b16.jpg"></div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/a60a85c6d4c14c3f9fed83f1ff1a2993.jpg"></div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/d546023396854e3dbe1d340a21825543.jpg"></div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/14206ea6e74a43c6a0a5d4abc81e95bb.jpg"></div>
        </div>


        
    </div>

    <!--got a gift card section-->
<div class="gotAGiftCard">
    <div class="gotAGiftCardLeft">
         <h1 class="gotAGiftCardHeading">Got a gift card?</h1>
         <p class="earn2star">Earns 2★Stars per $1</p>
         <div>
            <button class="addOrReload">Add or Reload</button>
            <button class="checkBalance">Check balance</button>
         </div>
    </div>
    <div class="gotAGiftCardRight">
         <p>Card Terms & Conditions</p>
        <svg aria-hidden="true" class="valign-middle " focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
            style="width: 24px; height: 24px; overflow: visible; fill: currentcolor;">
            <path
                d="M14.75 18H7.875C6.84 18 6 17.16 6 16.125V9.25c0-1.036.84-1.875 1.875-1.875h5.11c.276 0 .5.224.5.5s-.224.5-.5.5h-5.11c-.483 0-.875.392-.875.875v6.875c0 .483.392.875.875.875h6.875c.483 0 .875-.392.875-.875V11c0-.276.224-.5.5-.5s.5.224.5.5v5.125c0 1.035-.84 1.875-1.875 1.875zM14 6.5c0-.276.224-.5.5-.5h3c.276 0 .5.224.5.5v3c0 .276-.224.5-.5.5s-.5-.224-.5-.5V7.72l-4.66 4.74c-.19.196-.507.2-.704.005-.197-.193-.2-.51-.006-.707L16.307 7H14.5c-.276 0-.5-.224-.5-.5z">
            </path>
        </svg>
    </div>
</div>
<!--admin appreciation-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">ADMIN APPRECIATION</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/711e376ae60640d5a80e9f088d6d0b16.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/974d46ec17774cb1bafa313d1db92bbf.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/c4176b3e9fe34b5087040869f703ab48.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/afb2d5881a214b1a9ab607809586b11a.jpg">
            </div>
        </div>
    </div>

<!--birthday-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">BIRTHDAY</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/b3c8d0d8a3bc48b18d570b382af46c20.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/086f127933b1492c9b6311e77d32f6ba.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/025674328bc54e35a4ba0988875e6e5b.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/45f1c4ed8dac426ea31d09bc4296771c.jpg">
            </div>
        </div>
    
    
    </div>


    <!--thank you-->

    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">THANK YOU</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/1bf45b972317492c9a3762a67885a354.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/8c34f576af314654956200e08429e9bd.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/6e34062e14484b66a5604c57340103ba.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/a8fa33a190374fe69bf1de429a03053a.jpg">
            </div>
        </div>
    
    
    </div>

<!--CELEBRATION-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">CELEBRATION</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/e59a52bdd19448be9096d788b85a5d2f.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/02cc779eadaf4a1891efdc9908eefb89.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/7ad856a8cbdd4fbeb0119695a8d5b843.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/fc7d4cb9e0594398b00bfe133a02fad1.jpg">
            </div>
        </div>
    
    
    </div>


<!--MOTHER'S DAY-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">MOTHER'S DAY</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/87308f126ee14c54839cfc45528b68ff.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/de1b60e1fc204db496616e6a2bc58b9f.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/6ef84a75aa0643f2b075e84abaa76148.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/fef2b1d810f8471d96d97fac864ecca1.jpg">
            </div>
        </div>
    
    
    </div>

<!--NURSE APPRECIATION-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">NURSE APPRECIATION</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/f72a6748c766461fbea186ac07e342c5.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/24f3c6fdb5424e8abc77f71937468dc3.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/bfb726232cd0454e9bba1788d29af323.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/ac1e82c53f0f4a5e84a786ad9abae9ab.jpg">
            </div>
        </div>
    
    
    </div>

<!--TEACHER APPRECIATION-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">TEACHER APPRECIATION</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/2da904348afb41dfb5eb18d4f6942fda.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/62948b63a438450781fcdec8d2422fe2.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/e954a1639edd477393c86e784610f589.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/cf8073a96c544f2eabe530cc3b155f69.jpg">
            </div>
        </div>
    
    
    </div>

<!--SPRING-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">SPRING</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/d546023396854e3dbe1d340a21825543.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/d0df28dbc08f478eba00b26ca09bffe1.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/b1bc1467fdd644aa87a83aa96bf8e17d.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/be090dd487b54f4490b153e00f35136f.jpg">
            </div>
        </div>
    
    
    </div>

<!--EARTH MONTH-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">EARTH MONTH</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/14206ea6e74a43c6a0a5d4abc81e95bb.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/9a1c7a65cc4e4946a96dcb7fa8afa51a.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/8b136f9da31e4e4ebafd0516b448fb98.jpg">
            </div>
        </div>
    
    
    </div>

<!--APPRECIATION-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">APPRECIATION</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/b1061db1fc834e429a9a4bfa5de5e884.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/97be32ff56b54da5aa361cd9a6d24977.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/3d9173ceb399494483d37c5c7d88958d.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/9e106226562b40a2b2a149db572cca58.jpg">
            </div>
        </div>
    
    
    </div>

<!--work place-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">WORKPLACE</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/030cdc65712a4cb3b9a58483de6799b3.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/1c47ac4f6e914144b8d6a2e3489f316e.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/c4176b3e9fe34b5087040869f703ab48.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/28ae9dd37eee4f828627bd584b49f9f0.jpg">
            </div>
        </div>
    
    
    </div>

<!--ENCOURAGEMENT-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">ENCOURAGEMENT</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/27ade48b639f44a59ed702914a194454.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/0f7b291e505e45d29fde0c4d7b732140.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/c58f11e8197f4b608a1d7a751779fca3.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/ff23ba2daa464e579e528cbd04749e24.jpg">
            </div>
        </div>
    
    
    </div>

<!--AFFECTION-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">AFFECTION</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/0b3987211aa342b9aa1e6029570bcac3.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/ef9fd7cc60c8426199db6c60e27d5d06.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/76aada8fd9fd4a9d9adae18d10829062.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/4d7c2ed113214af79dc5024f2073259a.jpg">
            </div>
        </div>
    
    
    </div>

<!--ANYTIME-->
    <div class="featuredGiftCard">
        <div class=" featuredGiftCardHeadingWrapper">
            <h1 class="FeaturedHeading">ANYTIME</h1>
            <h3 class="seeAll">see all</h3>
        </div>
        <div class="featuredBoxes">
            <div class="box"><img src="https://globalassets.starbucks.com/assets/92a2acfde0d74350bae518afe9928fea.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/538d70aafcd640e8a336b1e81db0f5ad.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/a224b9727cb44ea4822b459d3faa0ced.jpg">
            </div>
            <div class="box"><img src="https://globalassets.starbucks.com/assets/6f956ca135ac4505818cd06be4f476e9.jpg">
            </div>
        </div>
    
    
    </div>

<!--gift  card in bulk section-->
<div class="giftCardInBulkSection">
    <div class="leftImg">
        <img src="https://www.starbucks.com/weblx/images/gift/bulk-gift-cards.jpg">
    </div>
    <div class="giftCardBulkContent">
        <h2 class="giftCardBulkHeading">Gift Cards in Bulk</h2>
        <p class="giftCardBulkPara">There’s an easier way to buy Starbucks Cards in bulk! Give a Starbucks Card to gift, reward, incentivize, or show appreciation towards your customers, clients and team members.</p>
        <button class="shopNow"> Shop now</button>
    </div>
</div>  

<!--gift card support section-->
<div class="giftCardSupportSection">
    <p class="giftCardSupportHeading">GIFT CARD SUPPORT</p>
    <p class="giftCardSupportPara">Use the links below to manage eGifts you have sent or received, or view our full Card Terms & Conditions.</p>
    <div class="giftCardSupportButtons">
        <button>eGift Support</button>
        <button>See Terms & Conditions</button>
        <button>eGift FAQs</button>
    </div>
</div>
</div>