<div class="rewardsSection">
    <div class="rewardsHeaderSection">
        <h1 class="starBucksReward">STARBUCKS® REWARDS</h1>
        <button class="joinInTheApp">Join in the app</button>
    </div>
    <div class="rewardsSections">
        <!--rewards first section-->
        <div class="rewardsFirstSection">
            <div class="rewardsFirstSectionLeft">
                <h1 class="rewardsFirstSectionLeftHeading">FREE COFFEE
                IS A TAP AWAY</h1>
                <h4 class="rewardsFirstSectionLeftContent">Join now to start earning Rewards.</h4>
                <button class="rewardFirstSectionjoinNowBtn">Join now</button>
                <h4 class="rewardsFirstSectionLeftContent">Or <u>join in the app </u>for the best experience</h4>
            </div>
        </div>
         
        <div class="rewardsSecondSection">
            <h1 class="rewardsSecondSectionHeading">Getting started is easy</h1>
            <p class="rewardsSecondSectionParagraph">
                Earn Stars and get rewarded in a few easy steps.
            </p>
            <div class="rewardsSecondSectionBoxes">
                <div class="rewardsSecondSectionBox">
                    <div class="rewardsSecondSectionContent1">1</div>
                    <div class="secondSectionOneContent">
                        <h3 class="rewardsSecondSectionContent2">Create an account</h3>
                        <p class="rewardsSecondSectionContent3">
                            To get started,
                            <u style="color: green; cursor: pointer">join now.</u> You can
                            also
                            <u style="color: green; cursor: pointer">join in the app </u>to
                            get access to the full range of Starbucks® Rewards benefits.
                        </p>
                    </div>
                </div>
                <div class="rewardsSecondSectionBox">
                    <div class="rewardsSecondSectionContent1">2</div>
                    <div class="secondSectionOneContent">
                        <h3 class="rewardsSecondSectionContent2">
                            Order and pay how you’d like
                        </h3>
                        <p class="rewardsSecondSectionContent3">
                            Use cash, credit/debit card or save some time and pay right through
                            the app. You’ll collect Stars all ways.<u style="color: green; cursor: pointer">Learn how</u>
                        </p>
                    </div>
                </div>
                <div class="rewardsSecondSectionBox">
                    <div class="rewardsSecondSectionContent1">3</div>
                    <div class="secondSectionOneContent">
                        <h3 class="rewardsSecondSectionContent2">Earn Stars, get Rewards</h3>
                        <p class="rewardsSecondSectionContent3">
                            As you earn Stars, you can redeem them for Rewards—like free food,
                            drinks, and more. Start redeeming with as little as 25 Stars!
                        </p>
                    </div>
                </div>
            </div>
        </div>





        <!--rewards second section
        <div class="rewardsSecondSection">
            <h1 class="rewardsSecondSectionHeading">Getting started is easy</h1>
            <p class="rewardsSecondSectionParagraph">Earn Stars and get rewarded in a few easy steps.</p>
            <div class="rewardsSecondSectionBoxes">
                <div class="rewardsSecondSectionBox">
                    <div class="rewardsSecondSectionContent1 ">1</div>
                    <div class="secondSectionOneContent">
                        <h3 class="rewardsSecondSectionContent2">Create an account</h3>
                        <p class="rewardsSecondSectionContent3">To get started, <u style="color: green; cursor: pointer;">join now.</u> You can
                            also <u style="color: green; cursor: pointer;">join in the app </u>to get access to the full range of Starbucks®
                            Rewards benefits.</p>
                    </div>
                </div>
                <div class="rewardsSecondSectionBox">
                    <div class="rewardsSecondSectionContent1 ">2</div>
                    <h3 class="rewardsSecondSectionContent2">Order and pay how you’d like</h3>
                    <p class="rewardsSecondSectionContent3">Use cash, credit/debit card or save some time and pay right through the app. You’ll collect Stars all ways.<u style="color: green; cursor: pointer;">Learn how</u></p>
                </div>
                <div class="rewardsSecondSectionBox">
                    <div class="rewardsSecondSectionContent1 ">3</div>
                    <h3 class="rewardsSecondSectionContent2">Earn Stars, get Rewards</h3>
                    <p class="rewardsSecondSectionContent3">As you earn Stars, you can redeem them for Rewards—like free food, drinks, and more. Start redeeming with as little as
                    25 Stars!</p>
                </div>
            </div>
        </div>-->
        <!--rewards third section-->
        <div class="rewardsThirdSection">
            <div class="rewardsThirdSectionBox1">
                <h1 class="rewardsThirdSectionBox1Heading">Get your favorites for free</h1>
                <div class="rewardsThirdSectionBox1Ratings">
                      <h3 class="rewardsThirdSectionBox1RatingNo      rewardsThirdSectionBox1RatingActive">25<span class="rewardsThirdSectionBox1RatingStar">★</span></h3>
                    <h3 class="rewardsThirdSectionBox1RatingNo">100<span class="rewardsThirdSectionBox1RatingStar">★</span></h3>
                    <h3 class="rewardsThirdSectionBox1RatingNo">200<span class="rewardsThirdSectionBox1RatingStar">★</span></h3>
                    <h3 class="rewardsThirdSectionBox1RatingNo">300<span class="rewardsThirdSectionBox1RatingStar">★</span></h3>
                    <h3 class="rewardsThirdSectionBox1RatingNo">400<span class="rewardsThirdSectionBox1RatingStar">★</span></h3>
                </div>
            </div>
            <div class="rewardsThirdSectionBox2">
                <div class="rewardsThirdSectionBox2Left">
                    <img src="../../assets/images/rewards_third_sectionimg.jpg">
                </div>
                <div class="rewardsThirdSectionBox2Right">
                    <h2 class="rewardsThirdSectionBox2RightHeading">Customize your drink</h2>
                    <p class="rewardsThirdSectionBox2RightDesc">Make your drink just right with an extra<br> espresso shot, nondairy milk or a dash of your<br> favorite syrup.</p>
                </div>
            </div>
        </div>
        <!--rewards fourth section-->
        <div class="rewardsSecondSection">
            <h1 class="rewardsSecondSectionHeading">Endless Extras</h1>
            <p class="rewardsSecondSectionParagraph" style="text-align: center;">Joining Starbucks® Rewards means unlocking access to exclusive benefits. Say hello to easy <br> ordering, tasty Rewards
            and—yes, free coffee.</p>
            <div class="rewardsSecondSectionBoxes">
                <div class="rewardsSecondSectionBox">
                    <img src="../../assets/images/rewards_fourth_sectionimg1.jpg" style="max-width: 30%; margin-bottom: 9%;">
                    <div class="secondSectionOneContent">
                        <h3 class="rewardsSecondSectionContent2">Fun freebies</h3>
                        <p class="rewardsSecondSectionContent3">Not only can you earn free coffee, look forward to a birthday treat plus coffee
                            and tea refills.</p>
                        <u class="rewardsFourthSectionLearnMore" style="margin-top: 5%; color: rgb(56, 115, 56); letter-spacing: 1px;">Learn
                            more</u>
                    </div>
                </div>
                <div class="rewardsSecondSectionBox">
                    <img src="../../assets/images/rewards_fourth_sectionimg2.jpg" style="max-width: 30%; margin-bottom: 9%;">
                    <div class="secondSectionOneContent">
                        <h3 class="rewardsSecondSectionContent2">Order & pay ahead</h3>
                        <p class="rewardsSecondSectionContent3">Enjoy the convenience of in-store, curbside or drive-thru pickup at select
                            stores.</p>
                        <u class="rewardsFourthSectionLearnMore" style="margin-top: 5%; color: rgb(56, 115, 56); letter-spacing: 1px;">Learn
                            more</u>
                    </div>
                </div>
                <div class="rewardsSecondSectionBox">
                    <img src="../../assets/images/rewards_fourth_sectionimg3.jpg" style="max-width: 30%; margin-bottom: 9%;">
                    <div class="secondSectionOneContent">
                        <h3 class="rewardsSecondSectionContent2">Get to free faster</h3>
                        <p class="rewardsSecondSectionContent3">Earn Stars even quicker with Bonus Star challenges, Double Star Days and
                            exciting games.</p>
                        <u class="rewardsFourthSectionLearnMore"
                            style="margin-top: 5%; color: rgb(56, 115, 56); cursor: pointer; letter-spacing: 1px; ">Learn more</u>
                    </div>
                </div>
            </div>
        </div>
        <!--rewards fifth section-->
        <div class="rewardsFifthSection">
            <h1 class="rewardsFifthSectionHeading">Cash or card, you earn Stars</h1>
            <p class="rewardsFifthSectionPara">No matter how you pay, you can earn Stars with your morning coffee. Those Stars add up to <br> (really delicious) Rewards.</p>
            <div class="rewardsFifthSectionBoxes">
                <!--rewards fifth section box 1-->
                <div class="rewardsFifthSectionFirstBox1" style="padding-bottom: 2.5%;">
                      <div class="rewardsFifthSectionFirstBox" id="oneStarPerDollar" style="margin-left: 3%; flex-direction: column; min-width: 18%;">
                        <h3 class="rewardsFifthSectionFirstBoxHeading">1★ per dollar</h3>
                        <p class="rewardsFifthSectionFirstBoxPTag">Pay as you go</p>
                      </div>
                    <div class="rewardsFifthSectionFirstBox preload" id="scanAndPay" style="min-width: 33%; margin-right: 8%;">
                        <img style="max-width: 35%; margin-left: -7%;" src="https://www.starbucks.com/weblx/images/rewards/ways-to-pay/1A.png">
                        <div>
                            <h3 class="rewardsFifthSectionFirstBoxHeading" style=" font-size: 20px;margin-bottom: 5%; margin-top: 1%;">Scan and pay separately</h3>
                            <p class="rewardsFifthSectionFirstBoxPTag">Use cash or credit/debit card at the register.</p>
                        </div>
                    </div>
                    <div class="rewardsFifthSectionFirstBox registerYourGiftCard" style="min-width: 25%;" >
                        <img style="max-width: 32%; margin-left: -14%;" src="https://www.starbucks.com/weblx/images/rewards/ways-to-pay/1B.png">
                        <div>
                            <h3 style="margin-bottom: 5%; margin-top: 1%; font-size: 20px;">Save payment in the app</h3>
                            <p class="rewardsFifthSectionFirstBoxPTag">Check-out faster by saving a credit/debit card or PayPal to your account. You’ll be able to order ahead or scan and pay
                            at the register in one step.</p>
                        </div>
                    </div>
                </div>
                <hr style="width: 95%; margin: 0 auto; border-top-color: rgba(0,0,0,0.18);">

                <!--rewards fifth section box 2-->
                <div class="rewardsFifthSectionFirstBox1" style="padding-top: 3%;">
                    <div class="rewardsFifthSectionFirstBox" style="margin-left: 3%; flex-direction: column; min-width: 18%;">
                        <h3 class="rewardsFifthSectionFirstBoxHeading" >2★ per dollar</h3>
                        <p class="rewardsFifthSectionFirstBoxPTag">Add funds in the app</p>
                    </div>
                    <div class="rewardsFifthSectionFirstBox preload" style="min-width: 25%; margin-right: 8%;">
                        <img style="max-width: 30%; margin-left: -7%;"  src="https://www.starbucks.com/weblx/images/rewards/ways-to-pay/2A.png">
                        <div>
                            <h3  class="rewardsFifthSectionFirstBoxHeading" style=" font-size: 20px;margin-bottom: 5%; margin-top: 1%;">Preload</h3>
                            <p class="rewardsFifthSectionFirstBoxPTag">To save time and earn Stars twice as fast, add money to your digital Starbucks Card using any payment
                                option. Scan and
                                pay in one step or order ahead in the app.</p>
                        </div>
                    </div>
                    <div class="rewardsFifthSectionFirstBox registerYourGiftCard
                    "  style="min-width: 25%;" >
                        <img class="registerYourGiftCardImg" style="max-width: 32%; margin-left: -14%;" src="https://www.starbucks.com/weblx/images/rewards/ways-to-pay/2B.png">
                        <div>
                            <h3 style="margin-bottom: 5%; margin-top: 1%; font-size: 20px;">Register your gift card</h3>
                            <p class="rewardsFifthSectionFirstBoxPTag">Then use it to pay through the app. You can even consolidate balances from multiple cards in one
                                place.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--rewards sixth section-->
        <div class="rewardsSixthSection">
             <div class="rewardsSixthSectionContainer">
                <div class=" rewardsSixthSectionContainerBgLeft"></div>
                <div class="rewardsSixthSectionContainerContent">
                    <div class="rewardsSixthSectionContainerContents">
                        <h1 style="margin-bottom: 3%;">Keep the Rewards Coming</h1>
                        <p style="text-align: center;  line-height: 26px; margin-bottom: 5%;">The Rewards don't stop at your morning coffee. Join Starbucks® Rewards and unlock perks
                            from our partners, all while
                            earning more Stars.</p>
                        <img style="width:36%" src="https://www.starbucks.com/weblx/images/rewards/loyalty-partnerships/delta-skymiles.png">
                        <p style="text-align: center;  line-height: 26px; margin-bottom: 4%; margin-top: 3%;">Link your Delta SkyMiles® and Starbucks® Rewards accounts to earn 1 mile per $1* spent at
                            Starbucks and double Stars on
                            Delta travel days.</p>
                        <button class="rewardFirstSectionjoinNowBtn">Join Starbucks® Rewards</button>
                    </div>

                </div>
                <div class="rewardsSixthSectionContainerBgRight"></div>
             </div>
        </div>


        <!--rewards seventh section-->
         <div class="rewardsSeventhSection">
            <h1 class="questions">Questions?</h1>
            <p class="quesAns">We want to help in any way we can. You can ask your barista anytime or we’ve answered the most commonly asked questions
            <u class="rightOverHere" style="color: green; cursor: pointer;">right over here</u></p>
         </div>


        <!--rewards eighth section-->
        <div class="rewardsEighthSection">
            <p class="rewardsEighthSectionPara">At participating stores. Restrictions apply</p>
            <p class="rewardsEighthSectionPara">* Excludes taxes and gratuities. At participating stores. Some restrictions apply. Flights purchased close to departure
            may not earn double Stars.</p>
            <p class="rewardsEighthSectionPara">Stars and miles may not be earned on purchases of alcohol, Starbucks Cards and Starbucks Card reloads. For details,
            visit <u>deltastarbucks.com/terms</u></p>
            <div class="rewardsEighthSectionBoxes">          

                <div class="eighthSectionBox1">
                    <div class="earningStar">
                        <h3 class="rewardsEighthSectionHeading">EARNING STARS</h3>
                        <p class="rewardsEighthSectionPara" >Stars cannot be earned on purchases of alcohol,
                            Starbucks Cards or Starbucks Card reloads.</p>
                        <p class="rewardsEighthSectionPara">Earn 1 Star per $1 spent when you scan your member
                            barcode in the app, then pay with cash, credit/debit cards or
                            mobile
                            wallets at participating stores. You can also earn 1 Star per $1 spent when you link a payment method and pay
                            directly
                            through the app</p>
                        <p class="rewardsEighthSectionPara">Earn 2 Stars per $1 spent when you load funds and pay
                            with your digital Starbucks Card in the app. You can also
                            earn 2
                            Stars per $1 spent when you pay in-person at a participating store with your registered physical Starbucks Card
                            or scan
                            your member barcode in the app, and then use any physical Starbucks Card (regardless of whether it is
                            registered) to
                            complete the purchase.</p>
                    </div>
                    <div class="termsOfUses">
                        <h3 class="rewardsEighthSectionHeading">TERMS OF USE</h3>
                        <p class="rewardsEighthSectionPara" >For full program details visit
                            starbucks.com/rewards/terms
                            opens in new window</p>
                        <p class="rewardsEighthSectionPara" >Earn 1 Star per $1 when digitally loading your
                            Starbucks Card with your Starbucks® Rewards Visa® Card: See your
                            Card
                            Rewards Program Agreement for more details.</p>
                        <p class="rewardsEighthSectionPara">Starbucks® Rewards benefits are available at
                            participating Starbucks stores. Not all stores have the ability to
                            honor
                            Rewards at this time. Visit the
                            Starbucks Store Locator and search for locations honoring “Redeem Rewards”.</p>
                        <p class="rewardsEighthSectionPara">Deposit and credit card products provided by JPMorgan
                            Chase Bank, N.A. Member FDIC</p>
                    </div>
                </div>


                <div class="eighthSectionBox2">
                     <div class="benifits">
                        <h3 class="rewardsEighthSectionHeading">BENEFITS</h3>
                        <p class="rewardsEighthSectionPara">Free refills available during same in-store visit only. To
                            qualify for the Birthday Reward, you must have made at
                            least
                            one Star-earning transaction.</p>
                     </div>
                     <div class="redeemingRewards">
                        <h3 class="rewardsEighthSectionHeading">REDEEMING REWARDS</h3>
                        <p class="rewardsEighthSectionPara">Rewards cannot be redeemed for alcoholic beverages or
                            multi-serve items. You pay the difference for any beverage
                            customization over $1 and/or merchandise item over $20. Not all stores honor tiered Rewards. Select stores
                            redeem 200
                            Stars for free food or drink items only.</p>
                     </div>
                </div>
            </div>
        </div>

    </div>
</div>