<div class="menuContainerSection">
    <div class="menuLeftBox">
        <h3 class="menuLeftBoxHeading">Drinks</h3>
        <ul class="menuLeftBoxContents">
            <li class="menuLeftBoxContent">Oleato™</li>
            <li class="menuLeftBoxContent">Hot Coffees</li>
            <li class="menuLeftBoxContent">Hot Teas</li>
            <li class="menuLeftBoxContent">Hot Drinks</li>
            <li class="menuLeftBoxContent">Frappuccino® Blended Beverages</li>
            <li class="menuLeftBoxContent">Cold Cofees</li>
            <li class="menuLeftBoxContent">Iced Teas</li>
            <li class="menuLeftBoxContent">Cold Drinks</li>
        </ul>
        <h3 class="menuLeftBoxHeading">Food</h3>
        <ul class="menuLeftBoxContents">
            <li class="menuLeftBoxContent">Hot Breakfast</li>
            <li class="menuLeftBoxContent">Oatmeal & Yogurt</li>
            <li class="menuLeftBoxContent">Bakery</li>
            <li class="menuLeftBoxContent">Lunch</li>
            <li class="menuLeftBoxContent">Snacks & Sweets</li>
        </ul>
        <h3 class="menuLeftBoxHeading">At Home Coffee</h3>
        <ul class="menuLeftBoxContents">
            <li class="menuLeftBoxContent">Whole Bean</li>
            <li class="menuLeftBoxContent">VIA® Instant</li>
        </ul>
        <h3 class="menuLeftBoxHeading">Merchandise</h3>
        <ul class="menuLeftBoxContents">
            <li class="menuLeftBoxContent">Cold Cups</li>
            <li class="menuLeftBoxContent">Tumblers</li>
            <li class="menuLeftBoxContent">Mugs</li>
            <li class="menuLeftBoxContent">Water Bottles</li>
            <li class="menuLeftBoxContent">Other</li>
        </ul>
        <h3 class="menuLeftBoxHeading" style="margin-top: 10%;">Gift Cards</h3>
        <ul class="menuLeftBoxContents">
            <li class="menuLeftBoxContent">Happy Birthday</li>
            <li class="menuLeftBoxContent">Thank You</li>
            <li class="menuLeftBoxContent">Traditional</li>
        </ul>
    </div>
    <div class="menuRightBox">
        <h1 class="menuHeading">Menu</h1>
<!--drinks-->
        <div class="menuRightContainer">
            <h2 class="menuRightHeading">
                Drinks
            </h2>
            <hr class="menuRightHr">
            <div class="menuRightContent">
                <div class="menuRightLeftBoxWrapper">
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg" src="https://globalassets.starbucks.com/assets/3DB27F5E792C48E9B867A443AA648D26.jpg?impolicy=1by1_tight_288">
                        <p> Oleato™ </p>
                    </div>
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg" src="https://globalassets.starbucks.com/assets/2d52f16a22fb40ff898be1815ecc952e.jpg?impolicy=1by1_tight_288">
                        <p> Hot Teas </p>
                    </div>
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg " src="https://globalassets.starbucks.com/assets/01092efc144c4e2394a279807d2781ed.jpg?impolicy=1by1_tight_288">
                        <p class="Frappuccino"> Frappuccino® Blended Beverages </p>
                    </div>
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg" src="https://globalassets.starbucks.com/assets/de6d02e888c74eac9f6ea19c5492b8e8.jpg?impolicy=1by1_tight_288">
                        <p> Iced Teas </p>
                    </div>
                </div>
                <div class="menuRightRightBoxWrapper">
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg" src="https://globalassets.starbucks.com/assets/f12bc8af498d45ed92c5d6f1dac64062.jpg?impolicy=1by1_tight_288">
                        <p> Hot Coffees </p>
                    </div>
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg" src="https://globalassets.starbucks.com/assets/677d276173ec4bc192c2b9a21776339f.jpg?impolicy=1by1_tight_288">
                        <p> Hot Drinks</p>
                    </div>
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg" src="https://globalassets.starbucks.com/assets/3DB27F5E792C48E9B867A443AA648D26.jpg?impolicy=1by1_tight_288">
                        <p> Cold Coffees</p>
                    </div>
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg" src="https://globalassets.starbucks.com/assets/358b62402a844a3e9567d70a9790032f.jpg?impolicy=1by1_tight_288">
                        <p> Cold Drinks</p>
                    </div>
                </div>
            </div>
        </div>

<!--food-->
        <div class="menuRightContainer">
            <h2 class="menuRightHeading">
                Food
            </h2>
            <hr class="menuRightHr">
            <div class="menuRightContent">
                <div class="menuRightLeftBoxWrapper">
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/012cdfb74d294be28ca6604768408c4b.jpg?impolicy=1by1_tight_288">
                        <p> Hot Breakfast </p>
                    </div>
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/2362e79aa0ab4c37a930956c67ab557a.jpg?impolicy=1by1_tight_288">
                        <p> Bakery</p>
                    </div>
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/d513aab3a617481ab369c227421e6f75.jpg?impolicy=1by1_tight_288">
                        <p> Snacks and Sweets </p>
                    </div>
                </div>
                <div class="menuRightRightBoxWrapper">
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg"
                            src="https://globalassets.starbucks.com/assets/D1FB41D7B2A646A6865E707D25FB9CBF.jpg?impolicy=1by1_tight_288">
                        <p> Oatmeal & Yogurt </p>
                    </div>
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg"
                            src="https://globalassets.starbucks.com/assets/02ea801e3aca434fa2fcccfcd4adba8c.jpg?impolicy=1by1_tight_288">
                        <p>Lunch</p>
                    </div>
                    
                </div>
            </div>
        </div>

<!--at home office-->
        <div class="menuRightContainer">
            <h2 class="menuRightHeading">
                At Home Coffee
            </h2>
            <hr class="menuRightHr">
            <div class="menuRightContent">
                <div class="menuRightLeftBoxWrapper">
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/b58ec53a78f24cfb82502cd5259cb764.jpg?impolicy=1by1_tight_288">
                        <p>Whole  Bean </p>
                    </div>
                </div>
                <div class="menuRightRightBoxWrapper">
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg"
                            src="https://globalassets.starbucks.com/assets/713f533b151b4d4d92d76eddeb06d4a2.jpg?impolicy=1by1_tight_288">
                        <p> VIA® Instant </p>
                    </div>
                
                </div>
                
        
                </div>
        </div>

<!--Merchandise-->
        <div class="menuRightContainer">
            <h2 class="menuRightHeading">
                Merchandise
            </h2>
            <hr class="menuRightHr">
            <div class="menuRightContent">
                <div class="menuRightLeftBoxWrapper">
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/96d448445d914c819ccc47f0dc36af71.jpg?impolicy=1by1_tight_288">
                        <p>Cold Cups </p>
                    </div>
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/240ba4012d1447779f329e349720f374.jpg?impolicy=1by1_tight_288">
                        <p>Mugs </p>
                    </div>
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/5814e3b108464af6bf3352e87576206b.jpg?impolicy=1by1_tight_288">
                        <p>Other</p>
                    </div>
                </div>
                <div class="menuRightRightBoxWrapper">
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg"
                            src="https://globalassets.starbucks.com/assets/66bd9f5281e0459985882a1de2f7a195.jpg?impolicy=1by1_tight_288">
                        <p>Tumblers</p>
                    </div>
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg"
                            src="https://globalassets.starbucks.com/assets/cbae1e06960c4bf2be4669ff9d1c68a9.jpg?impolicy=1by1_tight_288">
                        <p>Water Bottles</p>
                    </div>
        
                </div>
        
        
            </div>

        </div>

<!--Gift Cards-->
        <div class="menuRightContainer">
            <h2 class="menuRightHeading">
                Gift Cards
            </h2>
            <hr class="menuRightHr">
            <div class="menuRightContent">
                <div class="menuRightLeftBoxWrapper">
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/834dfe8a5d1e4980b87636f4ff62f83a.jpg?impolicy=1by1_tight_288">
                        <p>Happy Birthday</p>
                    </div>
                    <div class="menuRightLeftBox">
                        <img class="menuRightLeftBoxImg"
                            src="https://globalassets.starbucks.com/assets/9e2617bd4b0744cb940c67b3fad9ca35.jpg?impolicy=1by1_tight_288">
                        <p>Traditional</p>
                    </div>
                </div>
                <div class="menuRightRightBoxWrapper">
                    <div class="menuRightRightBox">
                        <img class="menuRightRightBoxImg"
                            src="https://globalassets.starbucks.com/assets/21ee04ff3a5340979275e3b9ffd2824d.jpg?impolicy=1by1_tight_288">
                        <p>Thank You</p>
                    </div>
        
                </div>
        
        
            </div>
        </div>
    </div>
</div>
