<div class="upcoming-events">
    <div class="event-heading">
        <h1>Upcoming Events</h1>
        <button class="view">View All
            <img src="../../assets/img/arrow.svg"></button>
    </div>
    <div class="event-task">
        <div>
            <p class="task1">Task 1 allocated by parent</p>
            <p>Name of the Task</p>
        </div>
        <img src="../../assets/img/arrow.svg">
    </div>
    <div class="event-task">
        <div>
            <p class="task1">Task 1 allocated by parent</p>
            <p>Name of the Task</p>
        </div>
        <img src="../../assets/img/arrow.svg">
    </div>
    <div class="event-task">
        <div>
            <p class="task1">Task 1 allocated by parent</p>
            <p>Name of the Task</p>
        </div>
        <img src="../../assets/img/arrow.svg">
    </div>
    <div class="event-task">
        <div>
            <p class="task1">Task 1 allocated by parent</p>
            <p>Name of the Task</p>
        </div>
        <img src="../../assets/img/arrow.svg">
    </div>
    <div class="event-task">
        <div>
            <p class="task1">Task 1 allocated by parent</p>
            <p>Name of the Task</p>
        </div>
        <img src="../../assets/img/arrow.svg">
    </div>
    <div class="event-task">
        <div>
            <p class="task1">Task 1 allocated by parent</p>
            <p>Name of the Task</p>
        </div>
        <img src="../../assets/img/arrow.svg">
    </div>
</div>