.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
app-home-section-first {
    display: flex;
    justify-content: center;

}

app-home-section-second {
    display: flex;
    flex-direction: column;
    align-items: center;

}