<!--second section box 1-->
<section class="secondSection">
    <div class="secondSectionLeft">
        <div class="secondSectionLeftDetails">
            <h1>Uplifting anytime</h1>
            <h3>Recharge with a lively Brown Sugar Oatmilk or Toasted Vanilla Oatmilk Shaken Espresso—140 calories or
                less in a grande.</h3>
            <button class="orderNowBtn">Order now</button>
        </div>
    </div>
    <div class="secondSectionRight">
        <img src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83270.jpg">
    </div>
</section>
<!--second section box 2-->
<section class="secondSection thirdSection " style="background-color: #fff4d4;">
    <div class="secondSectionLeft" style="width: 100%;">
        <div class="secondSectionLeftDetails">
            <h1>Oh, so vibrant</h1>
            <h3>Dive into our bold, fruity and refreshing Dragon Drink<sup style="font-size: 10px;">®</sup> with
                coconutmilk.</h3>
            <button class="orderNowBtn">Order now</button>
        </div>
    </div>
    <div class="secondSectionRight " style="background-color: #fff4d4;">
        <img src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83568.jpg">
    </div>
</section>
<!--second section box 3-->
<section class="secondSection" style="background-color: #d4e9e2">
    <div class="secondSectionLeft">
        <div class="secondSectionLeftDetails">
            <h1 style="line-height: 60px;">Savory and satisfying</h1>
            <h3>The Impossible™ Breakfast Sandwich, featuring an Impossible™ Sausage Patty Made From Plants, is always a
                great choice.**</h3>
            <button class="orderNowBtn">Order now</button>
        </div>
    </div>
    <div class="secondSectionRight">
        <img src="https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-83504.png">
    </div>
</section>
<section class="secondSectionLast">
    <p>
        *At participating stores. Some restrictions apply. See <u><a href="https://www.starbucks.com/rewards"
                target="_blank">
                starbucks.com/rewards
            </a></u>
    </p>
    <p>**Impossible is a trademark of Impossible Foods Inc. Used under license.</p>
</section>