<div class="box1">
    <!--mighty test packs-->
    <div class="mighty-test-packs">
        <div class="heading">
            <h1>Mighty Test Packs</h1>
            <button class="view">View All <span><img src="../../assets/img/arrow.svg"></span> </button>
        </div>
        <div class="boxes">
            <div class="box">
                <img class="box_img" src="../../assets/img/box1img.svg">
                <p>Mathematics for class 7th</p>
                <button>View test</button>
            </div>
            <div class="box" style="background-color: #FBEAE8;;">
                <img class="box_img" src="../../assets/img/box2img.svg">
                <p>Social Studies Test </p><br>
                <p style="top: 140px; font-size: 14px; color: rgba(33, 31, 31, 0.64);">by Nandita das</p>
                <button>View test</button>
            </div>
            <div class="box" style="background-color: #FDEDE0;">
                <img class="box_img" src="../../assets/img/box3img.svg">
                <p>Science Technology</p>
                <button>View test</button>
            </div>
        </div>
    </div>
    <hr>
    <!--puzzles-->
    <div class="puzzles_quizzes">
        <div class="box1_puzzle">
            <div class="heading">
                <h1>Puzzles</h1>
                <img src="../../assets/img/arrow.svg">
            </div>
            <div class="box">
                <div><img src="../../assets/img/math_puzzle_img1.svg">
                <h4>Maths Puzzle 1</h4></div>
                <img class="arrow" src="../../assets/img/arrow.svg">
            </div>
            <div class="box">
                <div>
                    <img src="../../assets/img/math_puzzle_img2.svg">
                    <h4>Maths Puzzle 2</h4>
                </div>
                <img class="arrow" src="../../assets/img/arrow.svg">
            </div>
            <div class="box">
                <div>
                    <img src="../../assets/img/math_puzzle_img3.svg">
                    <h4>Maths Puzzle 3</h4>
                </div>
                <img class="arrow" src="../../assets/img/arrow.svg">
            </div>
        </div>
        <!--quizzes-->
        <div class="box1_puzzle">
            <div class="heading">
                <h1>Quizzes</h1>
                <img src="../../assets/img/arrow.svg">
            </div>
            <div class="box" style="border: 1px solid #60BFC8;">
                <div>
                    <img src="../../assets/img/math_quiz_img1.svg">
                    <h4>Maths Quiz 1</h4>
                </div>
                <img class="arrow" src="../../assets/img/arrow.svg">
            </div>
            <div class="box" style="border: 1px solid #60BFC8;">
                <div>
                    <img src="../../assets/img/math_quiz_img2.svg">
                    <h4>Maths Quiz 2</h4>
                </div>
                <img class="arrow" src="../../assets/img/arrow.svg">
            </div>
            <div class="box" style="border: 1px solid #60BFC8;">
                <div>
                    <img src="../../assets/img/math_quiz_img3.svg">
                    <h4>Maths Quiz 3</h4>
                </div>
                <img class="arrow" src="../../assets/img/arrow.svg">
            </div>
        </div>
    </div>
</div>